.custom-row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    border-bottom: 1px solid rgba(var(--border-color-default), 0.6);
    min-height: var(--space-3xl);

    &:nth-last-of-type(1) {
        border-bottom: none;
        overflow: hidden;
    }

    &--heading {
        font-weight: bold;
    }

    &--clickable {
        cursor: pointer;

        &:hover {
            background-color: var(--color-surface-base-hover, rgba(0, 0, 0, 0.04));
        }
    }
}
