.soft-cell {
    $base: &;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    padding: var(--space-sm);
    background-color: transparent;
    text-align: left;
    overflow: hidden;
    color: var(--color-text-primary);

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* número de líneas */
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        background-color: var(--color-surface-float-hover);
        max-width: none;
    }

    &--heading {
        background-color: var(--color-surface-base-inverse);
        color: var(--color-text-inverse);

        #{$base}__content {
            font-weight: bold;
            text-align: center;
            word-break: normal;
        }

        &:hover {
            background-color: var(--color-surface-base-inverse);
            color: var(--color-text-inverse);
            max-width: none;
        }
    }
}
