.soft-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    min-height: var(--space-xl);

    &--with-icon {
        gap: var(--space-sm);
    }

    &__icon {
        flex-shrink: 0;
    }
    padding: var(--space-xs) var(--space-md);
    border: var(--border-width-sm) solid transparent;
    border-radius: var(--border-radius-sm);
    cursor: pointer;

    &:focus-visible {
        outline: var(--border-width-md) solid var(--border-color-focus);
        outline-offset: var(--space-xxs);
    }

    &:disabled {
        cursor: not-allowed;
    }

    &--primary {
        background-color: var(--color-action-primary);
        color: var(--color-text-inverse);

        &:hover:not(:disabled) {
            background-color: var(--color-action-primary-hover);
        }

        &:active:not(:disabled) {
            background-color: var(--color-action-primary-active);
        }

        &:disabled {
            background-color: var(--color-action-primary-disabled);
            color: var(--color-text-disabled);
        }
    }

    &--secondary {
        background-color: var(--color-action-secondary);
        color: var(--color-text-brand-primary);
        border: 1px solid var(--color-text-brand-primary);

        &:hover:not(:disabled) {
            background-color: var(--color-action-secondary-hover);
            color: var(--color-text-inverse);
        }

        &:active:not(:disabled) {
            background-color: var(--color-action-secondary-active);
            border: 1px solid var(--color-action-secondary-active);
            color: var(--color-text-inverse);
        }

        &:disabled {
            background-color: var(--color-action-secondary-disabled);
            color: var(--color-text-disabled);
        }
    }

    &--delete {
        background-color: var(--color-action-error);
        color: var(--color-text-inverse);

        &:hover:not(:disabled) {
            background-color: var(--color-action-error-hover);
        }

        &:active:not(:disabled) {
            background-color: var(--color-action-error-active);
        }

        &:disabled {
            background-color: var(--color-action-error-disabled);
            color: var(--color-text-disabled);
        }
    }
}
