/* =====================================================
   TEMA · SPRING GREEN
   ===================================================== */
[data-theme="theme-green"] {
  --color-50:  #edfff7;
  --color-100: #d5ffee;
  --color-200: #aeffdd;
  --color-300: #6fffc5;
  --color-400: #36ffaa;
  --color-500: #00e985;
  --color-600: #00c26b;
  --color-700: #009857;
  --color-800: #047748;
  --color-900: #06613d;
  --color-950: #003720;
}

/* =====================================================
   TEMA · SCARLET GUM
   ===================================================== */
[data-theme="theme-purple"] {
  --color-50:  #fbf5fe;
  --color-100: #f6eafd;
  --color-200: #edd4fa;
  --color-300: #e0b2f5;
  --color-400: #cf84ee;
  --color-500: #b855e0;
  --color-600: #9e35c4;
  --color-700: #8429a2;
  --color-800: #6e2385;
  --color-900: #521e60;
  --color-950: #3b0b47;
}

/* =====================================================
   TEMA · MONZA
   ===================================================== */
[data-theme="theme-red"] {
  --color-50:  #fef2f2;
  --color-100: #fde3e3;
  --color-200: #fdcbcc;
  --color-300: #faa7a8;
  --color-400: #f57476;
  --color-500: #eb484a;
  --color-600: #c72527;
  --color-700: #b52022;
  --color-800: #961e1f;
  --color-900: #7d1f20;
  --color-950: #440b0c;
}